<h1>Comments</h1>
<% if comments.count>0 %>
  <table>
    <tr>
      <th>comment</th>
      <th>user</th>
      <th>date</th>
    </tr>
    <% comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.content[0..20], comment %></td>
        <td><%=  comment.user.email %></td>
        <td><%= comment.created_at.strftime("%d-%m-%Y")%></td>
      </tr>
    <% end %>
  </table>
<%else%>
  No comments
<%end%>
<br />
