<h1>Examples</h1>
<% if examples.count > 0 %>
  <table>
    <tr>
      <th>example</th>
      <th>example</th>
      <th>status</th>
    </tr>
    <% examples.each do |example| %>
      <tr>
        <td><%= link_to "example", example %></td>
        <td>
          <%current_id=nil%>
          <%if current_user!=nil%>
            <%current_id=current_user.id%>
          <%end%>
          <% if(example.get_state(current_id)=="available")  %>
            <%= link_to "reserve",   :controller => "examples", :action => "reserve", :id => example %>
          <%else%>
            <%   if(example.get_state(current_id)=="Already reserved") %>
              <%= link_to "unreserve",   :controller => "examples", :action => "unreserve", :example_id => example.id %>
            <% else %>
              <%= example.get_state(current_id) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<%else%>
  No examples.
<%end%>
<br />
